<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
	  
	  <add key="ConnectionEncrypt" value="false"/>
      <!--<add key="Connection" value="server=192.168.111.17;Database=mkssdbbiaodinghis;Uid=root;Pwd=mkss2021;Port=3306;Allow User Variables=True;SslMode=None;" />
	  <add key="ScrwdConnection" value="server=192.168.111.17;Database=mkssdbbiaoding;Uid=root;Pwd=mkss2021;Port=3306;Allow User Variables=True;SslMode=None;" />-->

	  <add key="Connection" value="server=113.98.62.133;Database=mkssbiaoding2;Uid=root;Pwd=mkss789&amp;*(;Port=33066;Allow User Variables=True;SslMode=None;"/>
	  <add key="ScrwdConnection" value="server=113.98.62.133;Database=mkssbiaoding2;Uid=root;Pwd=mkss789&amp;*(;Port=33066;Allow User Variables=True;SslMode=None;"/>

	  <add key="IotEnInfoAddr" value="http://xinxiapi.mixsense-iot.com:27010"/>
	  <!--<add key="GraspAshx" SCRWD USER_DEF value=" " />-->
	 <add key="GraspAshx" value="http://192.168.111.7:8899/"/>
	 <!-- 是否存储，不存储时不保存历史数据 -->
	 <add key="savedb" value="true"/>
	  
	<!--模式切换 SCRWD 对内模式、 USER_DEF 对外模式 -->
	<add key="SerialNoType" value="SCRWD"/>
	<add key="MainCompShortName" value="河北安信"/>
	<add key="MainCompTile" value="河北安信燃气设备有限公司"/>
	<add key="MainSubTile" value="智慧工厂生产数字化管理系统-标定软件"/>
	<add key="MainSubVersion" value="v1.0"/>
	<add key="MainLogo" value="/Resources/Images/hbax2.png"/>
	  
     <add key="password " value=""/>
     <add key="Department " value=""/>
     <add key="returnValue " value=""/>
     <add key="pwdPattern " value=""/>
     <add key="userPattern " value=""/>
	  
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.113.0" newVersion="1.0.113.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.26.0" newVersion="8.0.26.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
